@use "../overalstyles/variables" as *;




%buffalo-logo {
    width: 20%;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px red;
    border:4px solid black;

}